
<div  >
  <div class="jumbotron " style="background-color:white">

<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
 <div class="ui-grid-col-2">
 
  

      <div class="ui-grid-col-12">
<p-tieredMenu  [class.p]="getclass()"  [class.p2]="getclass2()"  [class.p3]="getclass3()" [class.p4]="getclass4()"  [class.p5]="getclass5()"  [class.p6]="getclass6()" [model]="items"></p-tieredMenu>
     </div>
 
 </div>
 <div class="ui-grid-col-1">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br/>
 </div>
     <div class="ui-grid-col-9">
               

 
   
  

      <router-outlet ></router-outlet>
  

     </div>
 

          
</div>
  </div>
</div>


  



            
