

.p .ui-menuitem:nth-child(1) {
background-color: #3D3D3D;
color:white
}

.p .ui-menuitem:nth-child(1) span:nth-child(1) {

    color:white
}

.p .ui-menuitem:nth-child(1) span:nth-child(2) {

    color:white
}


.p2 .ui-menuitem:nth-child(2) {
background-color: #3D3D3D;
color:white
}

.p2 .ui-menuitem:nth-child(2) span:nth-child(1) {

    color:white
}

.p2 .ui-menuitem:nth-child(2) span:nth-child(2) {

    color:white
}


.p3 .ui-menuitem:nth-child(3) {
background-color: #3D3D3D;
color:white
}

.p3 .ui-menuitem:nth-child(3) span:nth-child(1) {

    color:white
}

.p3 .ui-menuitem:nth-child(3) span:nth-child(3) {

    color:white
}



.p4 .ui-menuitem:nth-child(4) {
background-color: #3D3D3D;
color:white
}

.p4 .ui-menuitem:nth-child(4) span:nth-child(1) {

    color:white
}

.p4 .ui-menuitem:nth-child(4) span:nth-child(4) {

    color:white
}


.p5 .ui-menuitem:nth-child(5) {
background-color: #3D3D3D;
color:white
}

.p5 .ui-menuitem:nth-child(5) span:nth-child(1) {

    color:white
}

.p5 .ui-menuitem:nth-child(5) span:nth-child(5) {

    color:white
}


.p6 .ui-menuitem:nth-child(6) {
background-color: #3D3D3D;
color:white
}

.p6 .ui-menuitem:nth-child(6) span:nth-child(1) {

    color:white
}

.p6 .ui-menuitem:nth-child(6) span:nth-child(6) {

    color:white
}
