
   <div class="row">
    <div class="col-lg-12">
  
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a  (click) ="go()">Home</a></li>
        <li><i class="fa fa-trademark"></i>TradeMark</li>
      </ol>
    </div>
  </div>
<div  style="margin-top:40px">
    <div [ngBusy]="busy"></div> 
  <div class="row centered">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="detail()" >
        <div class="info-box green-bg">
         
          <i class="fa fa-trademark"></i>
          <div class="count">Verification Unit</div>
          
        </div>
        <!--/.info-box-->
      </div>
      <!--/.col-->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="detail2()">
        <div class="info-box green-bg">
          <i class="fa fa-trademark"></i>
          <div class="count">Search Unit</div>
         
        </div>
        <!--/.info-box-->
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="detail7()">
        <div class="info-box green-bg">
          <i class="fa fa-trademark"></i>
          <div class="count">Search 2  Unit</div>
         
        </div>
        <!--/.info-box-->
      </div>

      <!--/.col-->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="detail3()">
        <div class="info-box green-bg">
          <i class="fa fa-trademark"></i>
          
          <div class="count">Examiner Unit</div>
         
        </div>
        <!--/.info-box-->
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="detail9()" >
        <div class="info-box green-bg">
          <i class="fa fa-trademark"></i>
          
          <div class="count">Opposition Unit</div>
         
        </div>
        <!--/.info-box-->
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="detail4()" >
          <div class="info-box green-bg">
            <i class="fa fa-trademark"></i>
            
            <div class="count">Publication Unit</div>
           
          </div>
          <!--/.info-box-->
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="detail8()" >
          <div class="info-box green-bg">
            <i class="fa fa-trademark"></i>
            
            <div class="count">Certificate Unit</div>
           
          </div>
          <!--/.info-box-->
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="detail5()">
            <div class="info-box green-bg">
              <i class="fa fa-trademark"></i>
              
              <div class="count">Acceptance Unit</div>
             
            </div>
            <!--/.info-box-->
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" (click)="detail6()">
              <div class="info-box green-bg">
                <i class="fa fa-trademark"></i>
                
                <div class="count">Registrar's Unit</div>
               
              </div>
              <!--/.info-box-->
            </div>
      <!--/.col-->

 
      <!--/.col-->

    </div>
  

   
      <br/>
  
 
    
   
  
      <div class="row">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
  
      </div>
      </div>


  
