<div [ngBusy]="busy"></div> 
<div  >
  <div class="jumbotron " style="background-color:white">

<br/>


<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
     <div class="ui-grid-col-12">
 <div class="ui-grid-row">
                                <div class="ui-grid-col-2">
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                </div>
           

                   
                                <div class="ui-grid-col-8">
                     <p-galleria [images]="images" panelWidth="1000" panelHeight="313" [showCaption]="true"></p-galleria>
                                </div>
             </div>


        
     </div>
      <div class="ui-grid-row">
<br/>
<br/>

      </div>

      <div class="ui-grid-row">
 <div class="ui-grid-col-3">
     <p-messages [value]="msgs2"></p-messages>
  

                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                </div>
           
 <div class="ui-grid-col-9">

                 <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
                        

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-1">
                   
                </div>
                <div class="ui-grid-col-1">
                    Email 
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="email" formControlName="Email" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['Email'].valid&&userform.controls['Email'].dirty">
                        <i class="fa fa-close"></i>
                        Email is required
                    </div>
                </div>
            </div>
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-1">
                   
                </div>
                <div class="ui-grid-col-1">
                    Password 
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="userform.controls['password'].errors['required']">Password is required</span>
                        <span *ngIf="userform.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                    </div>
                </div>
            </div>
           
           
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-3">
                    <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
                </div>

                <div class="ui-grid-col-3" >
                         
                    <button pButton type="button" icon="fa-user-plus" (click)="clickMe()" iconPos="left" label="Register"  ></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
       
        </div>   
   
</form>
                                </div>

      </div>


          
</div>


  </div>
</div>


  



            